.card {
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px;
    color: #333;
}

.card .icon {
    font-size: 2rem;
    color: #e74c3c;
}

.card h5 {
    /* margin: 10px 0 5px; */   
    font-weight: bold;
}

.card .text-content p {
    font: 0.5rem;
    color: #666;
}


#linear-graph{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 30px 30px 50px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#pie-chart{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 30px 30px 50px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#invoice-table{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 30px 30px 50px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#pie-chart li{
    font: 1.3rem Roboto;
}
#USA::marker{
    font-size: 30px;
    color: #C8242F;
}
#RUS::marker{
    font-size: 30px;
    color: #F16C20;
}
#CAN::marker{
    font-size: 30px;
    color: #A2B86C;
}
#IND::marker{
    font-size: 30px;
    color: #EBC844;
}

.paidStatus{
font: normal normal normal 15px/20px Roboto;
color: #3CDD5F;
background-color: #000000 ;
border-radius: 5px;
}
.failedStatus{
font: normal normal normal 15px/20px Roboto;
color: #FF4545;
background: #b40000 ;
border-radius: 5px;
}