body
{
    background: cyan;
}

#Canvas
{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 720px;
    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1; 
}

#Loginpageimage
{
    /* Layout Properties */
    top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;
    /* UI Properties */
    background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
}